<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328097407117-tf0hqgah6tiqdutgkd1rou4jeisllc11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328097407117-tf0hqgah6tiqdutgkd1rou4jeisllc11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328097407117-0oqdnfp5flebqs93no1u39fvhhmpb9po.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3-iIiDfJWQOxsJISRaCMj5b2CS_2okw</string>
	<key>GCM_SENDER_ID</key>
	<string>328097407117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.wdniDrivers</string>
	<key>PROJECT_ID</key>
	<string>wdni-518ff</string>
	<key>STORAGE_BUCKET</key>
	<string>wdni-518ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:328097407117:ios:19fc6a78b104d5ea09c2c4</string>
	<key>DATABASE_URL</key>
	<string>https://wdni-518ff-default-rtdb.firebaseio.com</string>
</dict>
</plist>
